.accordion-container{
    background-color: purple;
    padding : 1rem;
    border-radius: 2rem;   
    margin: 1rem 0 1rem 0;
    
} 

p{
    padding: 2rem;

}



.openButton{
    border : 1px solid white;
    padding: .5rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255 , 255, 255 , 0.3);
    font-size: rem;
}
.openButton:hover , .openButton:focus{
    background-color: transparent;
}

.content{
       border-radius: 0 0 2rem 2rem;
}

.content-parent{
    height: 0;
    overflow: hidden;
    transition: height .5s ease ;
    position: relative;
    top: -2.6rem;
    z-index: -1;

}

.show  { 
    height: auto;
}


/* @keyframes animate {
    0% { transform: translateY(-5%); }
    100% { transform: translateY(0);   }

} */