button{
    padding: 1rem;
    border-radius: 2rem;
    width: 90%;
    font-size: 12px;
    border: none;
    transition: .3s;
    background-color: #eceef3;
}

button:hover{
    background-color: rgb(255, 221, 227) ;
}
button:focus{
    background-color: #bbe6ac;
}

.name{
    font-size:20px;
}

@media only screen and (max-width: 600px) {

  }