*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  color: #112969;
}

.animation{
  animation: rotate 2s infinite ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }100%{
    transform: rotate(360deg);
  }

}

.right{
  transform: translateX(50%);
}

.navbarDetail{
  width: 100%;
}